.w-700px {
    max-width: 700px;
    min-width: 250px;
}

.toggle-all-day {
    color: #ced4da;
    border-color: #ced4da;
}

.btn-check:checked+.toggle-all-day {
    color: #212529;
    border-color: #ced4da;
    background-color: #e9ecef;
}

.input-time {
    min-width: 65px!important;
}

.input-time:disabled, .input-time:disabled::placeholder {
    color: #ced4da;
    background-color: #fff;
}

.input-group-time {
    min-width: 135px;
}

.input-group-text.input-time {
    min-width: 67px;
}

input.is-used {
    border-color: var(--bs-warning)!important;
}

input.is-used:focus {
    box-shadow: 0 0 0 .25rem rgba(var(--bs-warning-rgb), .25)!important;
}

.used-tooltip {
    display: none!important;
    color: black!important;
    background-color: var(--bs-warning)!important;
}

input.is-used:focus~.used-tooltip {
    display: block!important;
}

#container-calendar {
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    border-radius: .375rem;
    /* filter: blur(2px) */
}

#container-calendar * {
    border-radius: 0;
}

#container-calendar button {
    border-color: #e9ecef;
    /* aspect-ratio: 1; */
    min-height: 100px;
}

#container-calendar button * {
    cursor: inherit;
}

#container-calendar button:hover>label {
    background-color: transparent;
}

#container-calendar button:disabled {
    background-color: #e9ecef;
    border-color: #e9ecef;
}

#container-calendar div:not(#weekDaysLabel) label {
    background-color: #e9ecef;
}

#container-calendar textarea {
    height: calc(100% - 24px);
    resize: none;
}

#container-calendar .row:first-child button:first-child {
    border-top-left-radius: .375rem;
}

#container-calendar .row:first-child button:last-child {
    border-top-right-radius: .375rem;
}

#container-calendar .row:last-child button:first-child {
    border-bottom-left-radius: .375rem;
}

#container-calendar .row:last-child button:last-child {
    border-bottom-right-radius: .375rem;
}