.w-700px {
    max-width: 700px;
    min-width: 250px;
}

.toggle-all-day {
    color: #ced4da;
    border-color: #ced4da;
}

.btn-check:checked+.toggle-all-day {
    color: #212529;
    border-color: #ced4da;
    background-color: #e9ecef;
}

.input-time {
    min-width: 65px!important;
}

.input-time:disabled, .input-time:disabled::placeholder {
    color: #ced4da;
    background-color: #fff;
}

.input-group-time {
    min-width: 135px;
}

.input-group-text.input-time {
    min-width: 67px;
}

input.is-used {
    border-color: var(--bs-warning)!important;
}

input.is-used:focus {
    box-shadow: 0 0 0 .25rem rgba(var(--bs-warning-rgb), .25)!important;
}

.used-tooltip {
    display: none!important;
    color: black!important;
    background-color: var(--bs-warning)!important;
}

input.is-used:focus~.used-tooltip {
    display: block!important;
}

.calender-container * {
    border-radius: 0;
}

.calender-container :focus {
    z-index: 1;
}

.calender-container :nth-child(2) :first-child {
    border-top-left-radius: .375rem;
}

.calender-container :nth-child(2) :last-child  {
    border-top-right-radius: .375rem;
}

.calender-container :last-child :first-child  {
    border-bottom-left-radius: .375rem;
}

.calender-container :last-child :last-child  {
    border-bottom-right-radius: .375rem;
}