.w-700px {
    max-width: 700px;
    min-width: 300px;
}

a#libMake {
    background-color: var(--bs-gray-200);
    border-color: #ced4da;
    color: #212529;
}

a#libMake:hover {
    background-color: var(--bs-btn-bg);
}

label.toggle {
    color: #ced4da;
    border-color: #ced4da;
}

.btn-check:checked+.toggle {
    color: #212529;
    border-color: #ced4da;
    background-color: var(--bs-gray-200);
}

.input-time {
    min-width: 65px!important;
}

.toggle:disabled, .toggle:disabled::placeholder {
    color: #ced4da;
    background-color: #fff;
}

.input-group-time {
    min-width: 135px;
}

.input-group-text.input-time {
    min-width: 67px;
}

input.is-used {
    border-color: var(--bs-warning)!important;
}

input.is-used:focus {
    box-shadow: 0 0 0 var(--bs-border-radius-sm) rgba(var(--bs-warning-rgb), .25)!important;
}

.used-tooltip {
    display: none!important;
    color: black!important;
    background-color: var(--bs-warning)!important;
}

input.is-used:focus~.used-tooltip {
    display: block!important;
}

.text-end.form-control.is-invalid,
.text-end.form-control.is-valid,
.was-validated .text-end.form-control:invalid,
.was-validated .text-end.form-control:valid {
    background-position: left calc(.375em + .1875rem) center;
}

select.toggle {
    min-width: 140px!important;
}

#calendar-content {
    padding: .5px;
    border-radius: var(--bs-border-radius);
    background-color: var(--bs-gray-200);
}

#calendar-content button {
    margin: 1px;
    background-color: var(--bs-gray-100);
    border-radius: var(--bs-border-radius);
    min-height: calc(3 * var(--bs-body-font-size) * var(--bs-btn-line-height));
    aspect-ratio: 1;
}

#calendar-content button:hover {
    background-color: var(--bs-gray-300);
}

#calendar-content button:active {
    background-color: var(--bs-gray-200);
}

#calendar-content button:disabled {
    background-color: transparent;
}

#calendar-content label {
    background-color: var(--bs-gray-300);
}

#calendar-content textarea {
    height: calc(100% - calc(var(--bs-body-font-size) * var(--bs-btn-line-height)));
    resize: none;
}


