.brand-span {
    width: 100px;
}

.w-700px {
    max-width: 700px;
    min-width: 300px;
}

.btn-toggle,
.btn-click
{
    --bs-btn-color: var(--bs-gray-900);
    --bs-btn-bg: var(--bs-gray-200);
    --bs-btn-border-color: var(--bs-gray-400);

    --bs-btn-hover-color: var(--bs-gray-900);
    --bs-btn-hover-bg: var(--bs-gray-300);
    --bs-btn-hover-border-color: var(--bs-gray-400);

    --bs-btn-active-color: var(--bs-gray-600);
    --bs-btn-active-bg: var(--bs-gray-300);
    --bs-btn-active-border-color: var(--bs-gray-400);

    --bs-btn-disabled-color: var(--bs-gray-400);
    --bs-btn-disabled-bg: var(--bs-gray-100);
    --bs-btn-disabled-border-color: var(--bs-gray-200);
    --bs-btn-disabled-opacity: 1;
}

.btn-toggle {
    --bs-btn-hover-bg: var(--bs-btn-bg);

    --bs-btn-active-color: var(--bs-btn-color);
    --bs-btn-active-bg: var(--bs-btn-bg);
}

.btn-toggle-on,
.btn-toggle-off
{
    cursor: pointer;
}

.btn-toggle-on .btn:not(select),
.btn-toggle-off .btn:not(select)
 {
    cursor:initial;
}

input.btn-toggle,
select.btn-toggle
{
    background-color: transparent!important;
}

.btn-toggle::placeholder {
    color: var(--bs-btn-disabled-border-color);
}

input[type="radio"]:not(:checked)~.btn-toggle-on>*,
input[type="radio"]:checked~.btn-toggle-off>*
{
    cursor: pointer;

    color: var(--bs-btn-disabled-color);
    background-color: var(--bs-btn-disabled-bg)!important;
    border-color: var(--bs-btn-disabled-border-color);
}

input[type="radio"]:not(:checked)~.btn-toggle-on:hover>*,
input[type="radio"]:checked~.btn-toggle-off:hover>*
{
    border-color: var(--bs-btn-hover-border-color);
}

input.is-used {
    border-color: var(--bs-warning)!important;
}

input.is-used:focus {
    box-shadow: 0 0 0 var(--bs-border-radius-sm) rgba(var(--bs-warning-rgb), .25)!important;
}

.used-tooltip {
    display: none!important;
    color: var(--bs-gray-900)!important;
    background-color: var(--bs-warning)!important;
}

input.is-used:focus~.used-tooltip {
    display: block!important;
}

.text-end.form-control.is-invalid,
.text-end.form-control.is-valid,
.was-validated .text-end.form-control:invalid,
.was-validated .text-end.form-control:valid {
    background-position: left calc(.375em + .1875rem) center;
    padding-left: calc(var(--bs-gutter-x) + var(--bs-gutter-x) * .5);
    padding-right: calc(var(--bs-gutter-x) * .5);
}

#calendar-input {
    padding: var(--bs-border-width);
    border-radius: calc(var(--bs-border-radius) + 2 * var(--bs-border-width));
    background-color: var(--bs-gray-200);
}

.btn-day {
    --bs-btn-border-width: 0;
    --bs-btn-color: var(--bs-gray-900);
    --bs-btn-bg: var(--bs-gray-100);
    --bs-btn-border-color: transparent;
    --bs-btn-hover-color: var(--bs-gray-600);
    --bs-btn-hover-bg: var(--bs-gray-300);
    --bs-btn-hover-border-color: transparent;
    --bs-btn-active-color: var(--bs-gray-900);
    --bs-btn-active-bg: var(--bs-gray-200);
    --bs-btn-active-border-color: transparent;
    --bs-btn-disabled-color: transparent;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: transparent;
    --bs-btn-disabled-opacity: 0;

    margin: var(--bs-border-width);
    min-height: calc(3 * var(--bs-body-font-size) * var(--bs-btn-line-height));
    aspect-ratio: 1;
}

.btn-day label {
    background-color: var(--bs-btn-hover-bg);
    border-bottom-left-radius: var(--bs-border-radius-sm);
    border-bottom-right-radius: var(--bs-border-radius-sm);
}

.btn-day textarea {
    height: calc(100% - calc(var(--bs-body-font-size) * var(--bs-btn-line-height)));
    resize: none;
}