{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="w-700px container-md">
        <div class="row mx-auto">
            <div class="col-md mb-3">
                <input class="form-control btn-light btn-outline-dark" type="file" accept=".txt" name="libFile" value="Upload Library">
            </div>
            <div class="col-md mb-3">
                <a class="w-100 btn btn-light btn-outline-dark" href="/newlib" role="button">Make new Library</a>
            </div>
        </div>
    </div>
{% endblock %}