{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="w-700px container-md">
        <div class="row">
            <div class="col-md mb-3 mb-md-0">
                <input class="form-control btn-light btn-outline-dark" type="file" accept=".txt" id="libFile" name="libFile" value="Upload Library">
            </div>
            <div class="col-md">
                <a class="w-100 btn btn-light btn-outline-dark" href="/newlib" role="button">Make new Library</a>
            </div>
        </div>
    </div>

    <hr>

    <div class="w-700px container-md">
        <form class="needs-validation" id="calendar-selection" novalidate>
            <div class="row">
                <div class="col mb-3 mb-md-0">
                    <select class="form-select" id="calMonth">
                        <option selected value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                </div>
                <div class="col mb-3 mb-md-0">
                    <select class="form-select" id="calYear">
                        <option selected value="2022">2022</option>
                        <option value="2023">2023</option>
                    </select>
                </div>

                <div class="col-auto">
                    <div class="input-group has-validation">
                        <input class="form-control text-end" id="calTitle" name="calTitle" type="text" autocomplete="off" placeholder="filename" required>
                        <!-- <div class="invalid-tooltip">
                            Please choose a name for this Library.
                        </div> -->
                        <span class="input-group-text">.cls</span>
                    </div>
                    <button class="btn btn-dark" type="button" id="saveCal">Get 🗓</button>
                </div>
            </div>

            <hr> 
            
            <div class="row mb-3">
                <div class="col input-group">
                    <select class="form-select" id="shortcutSelection" aria-label="Example select with button addon">
                        <option value="" disabled selected>Choose Shortcut...</option>
                    </select>
                    <input type="radio" class="btn-check form-check-input" name="dayOption" id="dayInsert" autocomplete="off" checked>
                    <label class="btn btn-light" for="dayInsert">Insert ➕</label>
                </div>
                <div class="col-auto">
                    <input type="radio" class="btn-check" name="dayOption" id="dayDelete" autocomplete="off">
                    <label class="btn btn-light" for="dayDelete">Delete 🗑 </label>
                </div>
            </div>

            <div class="container text-center" id="container-calendar">
                <div class="row" id="weekDaysLabel">
                    <label class="col col-form-label" for="calShort">Mon</label>
                    <label class="col col-form-label" for="calShort">Tue</label>
                    <label class="col col-form-label" for="calShort">Wed</label>
                    <label class="col col-form-label" for="calShort">Thu</label>
                    <label class="col col-form-label" for="calShort">Fri</label>
                    <label class="col col-form-label" for="calShort">Sat</label>
                    <label class="col col-form-label" for="calShort">Sun</label>
                </div>
                
                <div></div>
            </div>
        </form>
    </div>

    <template id="cellTemp">
        <button class="col btn btn-light p-0 shadow-none calBtn" type="button">
            <label class="form-label w-100 p-0 m-0 disabled"></label>
            <textarea class="text-center w-100 p-0 bg-transparent shadow-none border-0" disabled id="calShort" name="calShort" autocomplete="off"></textarea>
        </button>
    </template>

    <template id="emptyTemp">
        <button class="col btn btn-light p-0 shadow-none" disabled type="button"></button>
    </template>

    <script>
        const libButton = document.getElementById("libFile");
        libButton.addEventListener("input", () => loadLibrary());

        const saveButton = document.getElementById("saveCal");
        saveButton.addEventListener("click", () => saveCalendar());

        setMonth();
        makeCalendar();
        activateCalendar();

        const monthButton = document.getElementById("calMonth");
        monthButton.addEventListener("input", () => makeCalendar());

        const yearButton = document.getElementById("calYear");
        yearButton.addEventListener("input", () => makeCalendar());

        const shortButton = document.getElementById("shortcutSelection");
        shortButton.addEventListener("change", () => activateCalendar());

        document.getElementById("dayInsert").addEventListener("click", () => disableShortcut(false));
        document.getElementById("dayDelete").addEventListener("click", () => disableShortcut(true));
    </script>
{% endblock %}