{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="w-700px container-md">
        <div class="row">
            <div class="col-md mb-3 mb-md-0">
                <input class="form-control btn-light btn-outline-dark" type="file" accept=".txt" name="libFile" value="Upload Library">
            </div>
            <div class="col-md">
                <a class="w-100 btn btn-light btn-outline-dark" href="/newlib" role="button">Make new Library</a>
            </div>
        </div>
    </div>

    <hr>

    <div class="w-700px container-md">
        <form class="needs-validation" id="calendar-selection" novalidate>
            <div class="row">
                <div class="col-md mb-3 mb-md-0">
                    <select class="form-select" id="calMonth">
                        <option selected value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                </div>
                <div class="col-md mb-3 mb-md-0">
                    <select class="form-select" id="calYear">
                        <option selected value="2022">2022</option>
                        <option value="2023">2023</option>
                    </select>
                </div>
                <div class="col-md">
                    <button class="btn btn-dark w-100" type="button" id="getCal">Get 🗓</button>
                </div>
            </div>
        </form>
    </div>

    <hr>

    <div class="w-700px container-md calendar-container">

        <div class="input-group mb-3">
            <input type="text" class="form-control" aria-label="Text input with dropdown button">
            <button class="btn btn-outline-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Groupselect</button>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Separated link</a></li>
            </ul>
        </div>

        <div class="container text-center">
            <div class="row">
                <label class="col col-form-label" for="calShort">Mon</label>
                <label class="col col-form-label" for="calShort">Tue</label>
                <label class="col col-form-label" for="calShort">Wed</label>
                <label class="col col-form-label" for="calShort">Thu</label>
                <label class="col col-form-label" for="calShort">Fri</label>
                <label class="col col-form-label" for="calShort">Sat</label>
                <label class="col col-form-label" for="calShort">Sun</label>
            </div>

            <div id="container-calendar"></div>

        </div>
    </div>

    <template id="cellTemp">
        <button class="col btn btn-light p-0 shadow-none calBtn" type="button">
            <label class="form-label w-100 p-0 m-0 disabled"></label>
            <textarea class="text-center w-100 p-0 bg-transparent shadow-none" disabled id="calShort" name="calShort" autocomplete="off"></textarea>
        </button>
    </template>

    <template id="emptyTemp">
        <button class="col btn btn-light p-0 shadow-none" disabled type="button"></button>
    </template>

    <script>
        setMonth();
        makeCalendar();

        const calButton = document.getElementById("getCal");
        calButton.addEventListener("click", () => makeCalendar());

        const monthButton = document.getElementById("calMonth");
        monthButton.addEventListener("input", () => makeCalendar());

        const yearButton = document.getElementById("calYear");
        yearButton.addEventListener("input", () => makeCalendar());
    </script>
{% endblock %}