{% extends "layout.html" %}

{% block title %}
    New Library
{% endblock %}

{% block main %}
    <div class="w-700px container-sm">
        <form class="text-start text-sm-end needs-validation" id="new-item" novalidate>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="calShort">Shortcut</label>
                <div class="col position-relative">
                    <div class="input-group has-validation">
                        <input class="form-control" id="calShort" name="calShort" type="text" autofocus autocomplete="off" required>
                        <div class="invalid-tooltip">
                            Please choose a unique shortcut key.
                        </div>
                        <div class="invalid-tooltip used-tooltip">
                            Shortcut already used, you will overwrite it.
                        </div>
                        <button class="col-sm-3 btn btn-dark" type="button" id="calAdd">Add 📥</button>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="calSub">Subject</label>
                <div class="col position-relative">
                    <input class="form-control has-validation" id="calSub" name="calSub" type="text" autocomplete="off" required>
                    <div class="invalid-tooltip">
                        Please give a subject.
                    </div>
                </div>
            </div>

            <div class="row">
                <label class="col-sm-2 col-form-label position-relative" for="calStart">Time</label>
                <div class="col flex-nowrap input-group mb-3 has-validation">
                    <input class="form-control input-time text-end" id="calStarts" name="calStart" type="text" placeholder="12:00" required>
                    <input type="radio" class="btn-check" name="timeOption" id="calTime" autocomplete="off" checked>
                    <label class="btn btn-light toggle-all-day" for="calTime">&#x2500;</label>
                    <input class="form-control input-time" id="calEnds" name="calEnds" type="text" placeholder="13:00" required>
                    <div class="invalid-tooltip">
                        Please give a valid time [i.e. 12 | 1200 | 12:00].
                    </div>
                </div>
                <div class="col-auto">
                    <input type="radio" class="btn-check" name="timeOption" id="calAllday" autocomplete="off">
                    <label class="btn btn-light toggle-all-day" for="calAllday">all-day</label>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="calLocal">Location</label>
                <div class="col">
                    <input class="form-control" id="calLocal" name="calLocal" type="text" autocomplete="off">
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="calNotes">Notes</label>
                <div class="col">
                    <textarea class="form-control" id="calNotes" name="calNotes" type="text"></textarea>
                </div>
            </div>
        </form>
    </div>

    <div class="w-700px container-sm visually-hidden" id="new-lib-container">

        <hr>

        <form class="text-start text-sm-end needs-validation" id="new-lib" novalidate>
            <div class="row">
                <label class="col-sm-2 col-form-label" for="libTitle">Library</label>
                <div class="col flex-nowrap input-group has-validation mb-3 mb-sm-0">
                    <input class="form-control text-end" id="libTitle" name="libTitle" type="text" autocomplete="off" placeholder="filename" required>
                    <div class="invalid-tooltip">
                        Please choose a name for this Library.
                    </div>
                    <span class="input-group-text">.txt</span>
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-outline-dark w-100" type="button" id="libSave">Save 💾</button>
                </div>
            </div>
        </form>

        <hr>

        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Shortcut</th>
                <th scope="col">Subject</th>
                <th scope="col">Time</th>
                <th scope="col">Location</th>
                <th scope="col">Notes</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>

        </table>
    </div>

    <script>
        const saveButton = document.getElementById("libSave");
        saveButton.addEventListener("click", () => saveLibrary());

        document.getElementById("libTitle").addEventListener("input", e => { checkTitle(e.srcElement) });

        const addButton = document.getElementById("calAdd");
        addButton.addEventListener("click", () => addItem());
        addButton.addEventListener("click", () => updateTable());

        document.getElementById("calShort").addEventListener("input", e => { checkShort(e.srcElement) });

        document.getElementById("calTime").addEventListener("click", e => { disableTime(false) });
        document.getElementById("calAllday").addEventListener("click", e => { disableTime(true) });

        document.getElementById("calStarts").addEventListener("input", e => { checkTime(e.srcElement) });
        document.getElementById("calEnds").addEventListener("input", e => { checkTime(e.srcElement) });

        
    </script>
{% endblock %}